[build]
  publish = "dist/wedding-b-y-e/browser"
  command = "node build-netlify.js"

[functions]
  directory = "netlify/functions"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "20"