<section id="dress-code" class="dress-code">
  <div class="container">
    <h2>{{ 'dress-code.title' | translate }}</h2>
    
    <div class="dress-code-content">
      <div class="formal-attire">
        <div class="attire-icons">
          <img src="dress.svg" alt="Vestido formal" class="dress-icon">
          <img src="suit.svg" alt="Traje formal" class="suit-icon">
        </div>
        <h3>{{ 'dress-code.subtitle' | translate }}</h3>
      </div>
      
      <div class="white-dress-notice">
        <p>{{ 'dress-code.description' | translate }}</p>
      </div>
    </div>
  </div>
</section>
